@import "../../styles/variables.scss";

.player-list {
  height: calc(100vh - $header-height - 20px - 7%);
  .grid-container {
    height: 100%;
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    overflow-y: hidden;
    padding: 3% 10% 6% 5%;
    column-gap: 120px;
    row-gap: 5px;
    .grid-item {
      z-index: 2;
      display: flex;
      flex-direction: row;

      max-height: 36px;
      width: 15vw;
      .name {
        padding-left: 5px;
        padding-right: 0px;
        font: normal normal normal 2.1vw/3.3vw Mouzambik;
      }

      .icon {
        margin-left: 5px;
      }
    }
  }
  .hover-photo {
    img {
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 20vw;
      height: 20vw;
      z-index: 1;
    }
  }
}
