.button {
  display: flex;
  max-width: 268px;
  height: 73px;
  color: white;
  font-size: 1vw;
  .arrow {
    width: 33%;
  }
  .title {
    display: flex;
    flex-direction: row !important;
    vertical-align: top;
    text-align: left;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .button {
    height: 43px;
    font-size: 3vw;
    .arrow {
      width: 30%;
    }
  }
}
